<ul> Great video clips from some older movies
  <li><%= link_to "Gladiator", gladiator_path %></li>
  <li><%= link_to "Matilda", matilda_path %></li>
  <li><%= link_to "Seinfeld", seinfeld_path %></li>
  <li><%= link_to "Friends", friends_path %></li>
  <li><%= link_to "Show All", root_path %></li>
</ul>

<%= @params %>

<%= @params[:show] %>
<%= @params[:driver] %>
<%= @params[:navigator] %>